<p id="notice"><%= notice %></p>

<div class="new-item"><%= link_to 'Add new item', new_todo_item_path %></div>

<% if @todo_items.any? %>
  <div class="container">
    <% @todo_items.each do |todo_item| %>
      <div class="row">
        <div class="col-sm-8">
          <div class="content"><%= sanitize todo_item.content %></div>
        </div>
        <div class="col-sm-4">
          <div class="btn-group buttons" role="group">
            <button type="button" class="btn"><%= link_to 'Edit', edit_todo_item_path(todo_item) %></button>
            <button type="button" class="btn"><%= link_to 'Delete', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            <% if todo_item.completed_at? %>
              <span class="badge badge-success done">Done!</span>
            <% else %>
              <button type="button" class="btn"><%= link_to 'Mark as completed', complete_todo_item_path(todo_item), method: :patch %></button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <div><div class="empty">Your list is empty. Add something!</div></div>
  <% end %>

<br>
